/* ==UserStyle==
@name           Gentoo Wiki readability tweaks
@namespace      github.com/openstyles/stylus
@version        0.0.3
@description    Readability tweaks for the Gentoo Handbook
@author         visrosa
==/UserStyle== */
@-moz-document url-prefix("https://wiki.gentoo.org/") {

    html,
    body {
        background-color: #e9ecdf !important;
    }

    .container {
        width: 120ch;
    }

    #content {
        width: 80ch;
        font-size: 125%;
        line-height: 1.25;
        font-family: 'Montserrat', 'Fira Code';
    }

    .mw-pt-progress {
        background-image: none !important;
        padding-right: 0 !important;
        font-size: 80%;
    }

    .mw-pt-languages-list li::after {
        content: ' |';
    }
}
